body{
    background-color: snow;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    text-align: center;
    align-items: center;
   flex-direction: column;
}


h1{
    font-size: 700;
    text-transform: uppercase;

}
span{
  color: gainsboro;
}
input{
    border-radius: 20px;
    height: 30px;
    
}
#button1{
    background-color: blue;
}
.section2 img{
    height: 400px;
}
.section3{
    color: black;
}
.section4{
   font-size: 500; 
   font-weight: 700;
   color: darkgray;
}
@media(max-width:675px){
    .container{
       
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
input{

flex-direction: column;
}

    .section2 img{
        width: 150px;
        height: 300px;
    }
}